@import '../../../../shared/utils/colors2/css/colors2.scss';
@import '~flatpickr/dist/flatpickr.css';

.a-datepicker {
	width: 100%;
	position: relative;
	line-height: 1;

	&::after {
		content: '📅';
		position: absolute;
		top: 50%;
		margin-top: -0.5em;
		right: 0.5em;
		cursor: pointer;
		pointer-events: none;
	}
}

.a-datepicker__input {
	width: 100%;
	padding: 0.5em 2em 0.3em 0.3em;
	border: 2px solid $color-gray-5;
	border-radius: 4px;
	color: $color-gray-3;
	background-color: $color-gray-10;
}
