@import '../../../../shared/utils/colors/css/colors';
@import './theme/light';

.m-example {
	margin: 1em 0;
	padding: $example-padding;
	background-color: $color-area-background;
	border-radius: $example-border-radius;
}
.m-example__headline {
	font-size: 1.6em;
}
.m-example__link {
	color: inherit;
}
.m-example__button {
	padding: 0.5rem 1rem;
	margin: 0.5rem 0.5rem 0.5rem 0;
}
