@import '../../../../../shared/utils/colors2/css/colors2';

.a-box--dark {
	color: $color-gray-9;
	background-color: $color-gray-3;

	&::after {
		content: '';
		display: block;
		position: absolute;
		left: -4rem;
		top: 0;
		width: 0;
		height: 0;

		border-right-color: $color-gray-3;
	}
}
