.m-example {
	padding: 1em 2em;
	background: darken($gray, 15%);
}
.m-example__headline {
	font-size: 1.6em;
	color: #fff;
}
.m-example__link {
	color: #fff;
}
.m-example__button {
	margin: 0.5rem 0.5rem 0.5rem 0;
}
