.t-ex--blue {
	background: #00f;
	animation: t-ex-blue-background-change 10s infinite;
}

/* stylelint-disable color-named  */
@keyframes t-ex-blue-background-change {
	0%,100% { background-color: lightslategray; }
	30% { background-color: lightblue; }
	60% { background-color: cornflowerblue; }
}
/* stylelint-enable color-named */
