@use 'sass:color';

@use '../../../../../shared/utils/colors/css/colors';

.m-example--blue {
	color: colors.$color-brand-font;
	background-color: colors.$color-brand-1;
	animation: blue-background-change 5s infinite;
}

@keyframes blue-background-change {
	0%,
	100% {
		background-color: color.scale(colors.$color-brand-1, $saturation: -50%);
	}
	50% {
		background-color: color.scale(colors.$color-brand-1, $lightness: -50%);
	}
}
