# OS
.DS_Store
Thumbs.db

# IDE
/.idea

# Node
node_modules/

# Project

# Namics frontend-defaults
app/templates/.jshintrc
app/templates/.gitignore
app/templates/.gitattributes
app/templates/.editorconfig