# OS
.DS_Store
Thumbs.db

# IDE
_.*
.project
.idea
.cache
.settings
.config
.buildpath
.metadata
.tmp*
*.prefs
.deployables
atlassian-ide-plugin.xml

# Namics frontend-defaults
app/templates/.editorconfig
app/templates/.eslintrc.js
app/templates/.eslintignore
app/templates/.gitignore
app/templates/.gitattributes
app/templates/.stylelintrc
app/templates/.stylelintignore

# Project
node_modules/
npm-debug.log

# allow
!.gitkeep
