language: node_js
node_js:
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-splendid' ]; then cd .. && eval "mv $currentfolder generator-splendid" && cd generator-splendid; fi
