// colors
@use './variables/colors';

$color-base-font: colors.$foreground;
$color-base-background: colors.$background;
$color-area-background: colors.$area;

// brand colors
$color-brand-font: colors.$white;
$color-brand-1: colors.$blue;
$color-brand-2: colors.$purple;
$color-brand-3: colors.$yellow;
