@mixin fixed-aspect-ratio($ratio: 75%, $width: 100%, $display: 'inline-block', $child: '>*', $elementPadding: 0) {
	display: #{$display};
	position: relative;
	width: $width;

	&::after {
		content: '';
		display: block;
		margin-top: $ratio;
	}

	/* stylelint-disable-next-line */
	#{$child} {
		max-height: 100%;
		padding-left: $elementPadding;
		padding-right: $elementPadding;
		position: absolute;
		inset: 0;
	}
}

@mixin fluid-height($x, $y) {
	padding: 0 0 percentage($y / $x);
	height: 0;
}
