@import "../../../../../shared/utils/colors2/css/colors2.scss";

.a-box--dark {

	color: $color-gray-9;
	background-color: $brand-color-4;

	&::after {
		content: '';
		display: block;
		position: absolute;
		left: -4rem;
		top: 0;
		width: 0;
		height: 0;

		border-right-color: $brand-color-4;
	}
}
