@import '../../colors/css/colors.scss';

// brand color themes
$brand-gradient-1: linear-gradient(0deg, $color-brand-1, mix($color-brand-1, #fff, 80%));
$brand-gradient-2: linear-gradient(0deg, $color-brand-2, mix($color-brand-2, #fff, 80%));
$brand-gradient-3: linear-gradient(0deg, $color-brand-3, mix($color-brand-3, #fff, 80%));
