@import '../../../../../shared/utils/colors/css/colors';

.m-example--blue {
	color: $color-brand-font;
	background-color: $color-brand-1;
	animation: blue-background-change 10s infinite;
}

@keyframes blue-background-change {
	0%,
	100% {
		background-color: darken(desaturate($color-brand-1, 30%), 10%);
	}
	30% {
		background-color: darken($color-brand-1, 20%);
	}
	60% {
		background-color: darken($color-brand-1, 10%);
	}
}
