@import '../../../../utils/breakpoints/css/breakpoints';

$grid-columns: 12;
$grid-gutter-width: 20px;
$grid-breakpoints: (
	xs: 0,
	sm: $size-sm-min,
	md: $size-md-min,
	lg: $size-lg-min,
	xl: $size-xl-min,
	xxl: $size-xxl-min
);

$container-max-widths: (
	sm: $size-xs-max,
	md: $size-sm-max,
	lg: $size-md-max,
	xl: $size-xl-max,
	xxl: $size-xl-max + 1
);
