//////////////////////////////////////////////////////////
// breakpoint variables
//////////////////////////////////////////////////////////

$size-sm: 576px; // small screen
$size-md: 768px; // medium screen
$size-lg: 1200px; // large screen
$size-xl: 1440px; // xxtra large screen
$size-xxl: 1920px; // extra extra large screen
