@import "../../../../shared/utils/colors/css/colors.scss";
@import "../../../../shared/utils/colors2/css/colors2.scss";

@keyframes a-loader-loading {
	0% {
		opacity: 0;
		transform: translateX(-300px);
	}
	33% {
		opacity: 1;
		transform: translateX(0);
	}
	66% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 0;
		transform: translateX(300px);
	}
}

.a-loader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.a-loader__wrap {
	width: 100%;
	transform: translateY(-50%);
	top: 50%;
	position: absolute;
	text-align: center;
	overflow: hidden;
}

.a-loader__dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	background-color: $gray;
	opacity: 0;
	margin-right: 3px;

	&:nth-child(6) {
		animation: a-loader-loading 3s infinite ease-in-out;
	}
	&:nth-child(5) {
		animation: a-loader-loading 3s 100ms infinite ease-in-out;
	}
	&:nth-child(4) {
		animation: a-loader-loading 3s 200ms infinite ease-in-out;
	}
	&:nth-child(3) {
		animation: a-loader-loading 3s 300ms infinite ease-in-out;
	}
	&:nth-child(2) {
		animation: a-loader-loading 3s 400ms infinite ease-in-out;
	}
	&:nth-child(1) {
		animation: a-loader-loading 3s 500ms infinite ease-in-out;
	}
}

.a-loader--white {
	.a-loader__dot {
		background-color: $color-white;
	}
}
