@import "../../../../shared/utils/colors/css/colors.scss";

.m-example {
	padding: 22px 25px;
	margin: 1em 0;
	background: darken($gray, 15%);
	border-radius: 1em;
}
.m-example__headline {
	font-size: 1.6em;
	color: #fff;
}
.m-example__link {
	color: #fff;
}
.m-example__button {
	margin: 0.5rem 0.5rem 0.5rem 0;
}
