.a-gondel {
	display: block;
	width: 4.5rem;
	margin: 0 auto;
	padding: 1rem;
	font-size: 2.5rem;
	text-align: center;

	position: relative;
	transition: transform ease 5s;
	transform: translate3d(0, 0, 0);
	cursor: pointer;

	&:hover {
		will-change: transform;
	}
}

.state-a-gondel--motion {
	transform: translate3d(20vw, 20vh, 0) scale(1.5);
}
