@import '../../../../shared/utils/colors/css/colors';

html {
	font-family: Arial, sans-serif;
	line-height: 1.2;
	color: $color-base-font;
	background-color: $color-base-background;
	@media print {
		background-color: transparent;
	}
}
