.m-example--red {
	background: $red;
	animation: red-background-change 10s infinite;
}

.m-example__text {
	color: #fff;
}

/* stylelint-disable color-named  */
@keyframes red-background-change {
	0%,100% { background-color: lightslategray; }
	30% { background-color: lightcoral; }
	60% { background-color: darkred; }
}
/* stylelint-enable color-named  */
