// -----------------------------------------
// Helper
// -----------------------------------------
@mixin ellipsis() {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
