.a-stage {
	display: block;
	width: 100%;
	height: 190px;
	margin: 1rem 0;
	background-image:
		url(../img/space-ship.svg),
		url(../img/satellite.svg),
		url(../img/ufo.svg),
		url(../img/clouds.png);
	background-position: 10vw 200px, 50% 200px, 70% -100px, 0 0;
	background-size: 8vw, 5vw, 7vw, auto;
	background-repeat: no-repeat, no-repeat, no-repeat, repeat-x;

	animation: a-stage-sky 8s linear infinite;
}

@keyframes a-stage-sky {
	from { background-position: 10vw 600px, 50% 200px, 70% -170px, 0 0; }
	to { background-position: 20vw -200px, 120% -100px, 30% 300px, 100% 0; }
}
