@import '../../../../shared/utils/colors/css/colors';

.m-example {
	margin: 1em 0;
	padding: 1.8em 2.2em;
	background-color: $color-area-background;
	border-radius: 0.5em;
}
.m-example__headline {
	font-size: 1.6em;
}
.m-example__link {
	color: inherit;
}
.m-example__button {
	padding: 0.5rem 1rem;
	margin: 0.5rem 0.5rem 0.5rem 0;
}
