.a-image {
	position: relative;
	height: 0;

	// default ratio 16:9
	padding-top: 56.25%;
}

.a-image__image {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	opacity: 0;
	transition: opacity 0.3s linear;

	&.state-a-image--loaded {
		opacity: 1;
		+ .a-loader {
			display: none;
		}
	}
}
