@mixin visually-hidden() {
	// Hide only visually, but have it available for screen readers
	// https://www.a11y-collective.com/blog/visually-hidden/
	border: 0;
	clip-path: inset(50%);
	height: 1px;
	margin: 0;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
