/* gaegu-300 - latin */
@font-face {
	font-family: Gaegu;
	font-style: normal;
	font-weight: 300;
	font-display: fallback;
	src: local('Gaegu Light'), local('Gaegu-Light'), url('../fonts/gaegu-v2-latin-300.woff2') format('woff2'),
		url('../fonts/gaegu-v2-latin-300.woff') format('woff');
}

/* gaegu-regular - latin */
@font-face {
	font-family: Gaegu;
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: local('Gaegu Regular'), local('Gaegu-Regular'), url('../fonts/gaegu-v2-latin-regular.woff2') format('woff2'),
		url('../fonts/gaegu-v2-latin-regular.woff') format('woff');
}

/* gaegu-700 - latin */
@font-face {
	font-family: Gaegu;
	font-style: normal;
	font-weight: 700;
	font-display: fallback;
	src: local('Gaegu Bold'), local('Gaegu-Bold'), url('../fonts/gaegu-v2-latin-700.woff2') format('woff2'),
		url('../fonts/gaegu-v2-latin-700.woff') format('woff');
}
