/* gaegu-300 - latin */
@font-face {
	font-family: 'Gaegu';
	font-style: normal;
	font-weight: 300;
	src: local('Gaegu Light'), local('Gaegu-Light'),
		url('../fonts/gaegu-v2-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/gaegu-v2-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gaegu-regular - latin */
@font-face {
	font-family: 'Gaegu';
	font-style: normal;
	font-weight: 400;
	src: local('Gaegu Regular'), local('Gaegu-Regular'),
		url('../fonts/gaegu-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/gaegu-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* gaegu-700 - latin */
@font-face {
	font-family: 'Gaegu';
	font-style: normal;
	font-weight: 700;
	src: local('Gaegu Bold'), local('Gaegu-Bold'),
		url('../fonts/gaegu-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		url('../fonts/gaegu-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
