@import '../../../../../shared/utils/colors2/css/colors2';

.t-tbox--dark {

	color: $color-gray-8;
	background-color: $color-gray-1;

	&::after {
		content: '';
		display: block;
		position: absolute;
		right: -4rem;
		top: 0;
		width: 0;
		height: 0;

		border-left-color: $color-gray-1;
	}
}
