@use '../../../../../shared/utils/token/css/semantic-color';

.t-tbox--dark {
	color: semantic-color.$color-solid-grey-8;
	background-color: semantic-color.$color-solid-grey-1;

	&::after {
		content: '';
		display: block;
		position: absolute;
		right: -4rem;
		top: 0;
		width: 0;
		height: 0;

		border-left-color: semantic-color.$color-solid-grey-1;
	}
}
