// colors grey

$color-gray:     #666;
$color-gray-1:   #191919;
$color-gray-2:   #333;
$color-gray-3:   #4c4c4c;
$color-gray-4:   $color-gray;
$color-gray-5:   #7f7f7f;
$color-gray-6:   #999;
$color-gray-7:   #b2b2b2;
$color-gray-8:   #ccc;
$color-gray-9:   #e5e5e5;
$color-gray-10:  #f2f2f2;
$color-white:    #fff;

$brand-color-2: $color-gray;
$brand-color-3: $color-gray;
$brand-color-4: $color-gray;
$brand-color-5: $color-gray;
