# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted
# to native line endings on checkout.
*.sh text eol=lf
*.pp text eol=lf
*.rb text eol=lf
*.yaml text eol=lf
*.bash_aliases text eol=lf

# Windows-specific files get windows endings
*.bat     eol=crlf
*.cmd     eol=crlf
*-windows.tmpl eol=crlf